.form-content {
    height: calc(100vh - 100px);
    display: grid;
    place-items: center;
    perspective: 1000px;
}

.form-container {
    width: 24rem;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
}

.form-container .signin,
.signup {
    position: absolute;
    top: 50%;
    /* GAMBIARRA */
    transform: translateY(-50%);
    width: 100%;
    height: fit-content;
    padding: 2rem;
    background-color: var(--color3);
    box-shadow: .25rem .5rem 1rem var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    backface-visibility: hidden;
}

.form-container .signup {
    transform: rotateY(180deg) translateY(-50%);
}

.form-container.invert {
    transform: rotateY(180deg);
}

form>h2 {
    font: bold 3rem var(--font1);
    color: var(--color1);
}

form .input-label>label {
    display: block;
    font: normal 1.2rem var(--font2);
    color: var(--color1);
}

form .input-label>.input-content {
    position: relative;
}

form .input-label input {
    width: 100%;
    outline: none;
    aspect-ratio: 20 / 3;
    background-color: var(--background);
    padding-inline: 1rem 15%;
    font: normal 1rem var(--font2);
    color: var(--color1);
}

form .input-label>.input-content label {
    position: absolute;
    top: 10%;
    right: 1.5%;
    height: 80%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    transition: all 125ms;
}

form .input-label>.input-content label:hover {
    background-color: var(--color4);
}

form .input-label>.input-content label svg {
    width: 32px;
    height: 32px;
    stroke: var(--color1);
}

form>button[type='submit'] {
    width: 100%;
    aspect-ratio: 20 / 3;
    background-color: var(--color1);
    font: normal 1.2rem var(--font1);
    color: var(--background);
}

form>p {
    font: normal 1rem var(--font2);
    color: var(--color2);
}

form>p>a {
    cursor: pointer;
    color: var(--color1);
}

form>p>a:hover {
    text-decoration: underline;
}