services:
    client:
        build: ./client
        volumes:
            - client-build:/app/dist

    server:
        build: ./server
        environment:
            - SECRET_KEY=yout_secret_key
            - DATABASE_URI=mysql+pymysql://root:3091@mysql:3306/db_users
        expose:
            - '5000'
        depends_on:
            - mysql

    mysql:
        image: mysql:8
        environment:
            MYSQL_ROOT_PASSWORD: 3091
            MYSQL_DATABASE: db_users
        volumes:
            - db_data:/var/lib/mysql
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
            interval: 5s
            timeout: 5s
            retries: 10

    nginx:
        image: nginx:alpine
        ports:
            - '3000:80'
        volumes:
            - client-build:/usr/share/nginx/html
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - server

volumes:
    client-build:
    db_data:
