.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    aspect-ratio: 1;
    border: 20px solid hsl(from var(--text-color) h s l);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from { transform: translate(-50%, -50%) rotate(0) }
    to { transform: translate(-50%, -50%) rotate(360deg) }
}