.text-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.text-container > h1 {
    font: bold 4rem var(--font1);
    color: hsl(from var(--text-color) h s l);
}

.text-container button {
    padding: .5rem 2rem;
    background-color: hsl(from var(--text-color) h s l);
    font: normal 1.6rem var(--font2);
    text-decoration: none;
    color: hsl(from var(--base-color) h s l);
}